<% include ./partials/header %>

<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  </div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  
      <div class="card mb-2 mt-2">
      <div class="card-body">
         <% if(!currentUser){%>
        <% }else{ %>
        <p>
          <i class="fa fa-user-circle"></i> <a href="/myblogs"><%= currentUser.username%></a>
        </p>
        
        <% } %>
        <strong><a href="/askQuestion"> What is your question?</a></strong>
      </div>
    </div>

      <% questions.forEach(function(question){ %>
      <div class="card mb-2">       
      <div class="card-body">      
      <strong><%- question.question%></strong>
       
        <div> 
          <p class="pull-right" ><spam class="text-muted"> asked by</spam> <em><%= question.questionAsker%></em><spam class="text-muted"> on</spam> <em><%= question.created.toDateString() %></em></p>
        </div>
          <a href="/question/<%=question._id%>"><i class="fa fa-edit"></i>Answer</a>
      </div>
    </div>
  <%});%>
  </div> 

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  </div>
</div>

<style> 
  body{
    font-family: 'Oxygen', sans-serif;
  } 
 
</style>



  
