<% include ./partials/header %>
<div id="homeContainer" class="ui main text container">
  <div id="homeHeader" class="ui huge header ">Blogs</div>
  <div id="segment" class="ui top attached segment">
    <div class="ui divided items">
      <% blogs.forEach(function(blog){ %>
       <div class="item">
         <div class="image">
          <img src="<%= blog.image %>">
         </div>
         <div class="content">
           <p><% blog.title %></p>
           <a class="header" href="/blogs/<%= blog._id %>"></a>
           <div class="meta">
            <h5><%= blog.created.toDateString() %></h5>
           </div>
           <div class="description">
              <p><%= blog.body.substring(0,150)%>..</p>
           </div>
           <div class="extras">
               <a class="ui inverted blue button "href="/blogs/<%= blog._id %>">Read More<i class="right chevron icon"></i></a>
           </div>
         </div>
        </div>
          <% }); %>
       </div>
  </div>
</div>

<style>
  
  body{
    background:#022747;
  }
 #homeHeader{
    color:yellow;
    text-align:center;
    
  }
  
  
  p{
    color:blue;
  }
  
  
</style>



