<% include ./partials/header %>


<div id="homeContainer" class="ui main text container">
  <div id="homeHeader" class="ui huge header "><strong>MY BLOGS</strong> </div>
  <div id="segment" class="ui top attached segment">
    <div class="ui divided items">
      <% user.blogs.forEach(function(blog){ %>
       <div class="item">
         <div class="image">
          <img src="<%= blog.image %>">
         </div>
         <div class="content">
           <a class="header" href="/blogs/<%= blog._id %>"><p><%= blog.title %></p></a>
           <div class="meta">
            <h5><%= blog.created.toDateString() %></h5>
           </div>
           <div class="description">
              <p><%= blog.body.substring(0,150)%>..</p>
           </div>
           
           <div class="extras">
               <a class="ui inverted blue button "href="/blogs/<%= blog._id %>">Read More<i class="right chevron icon"></i></a>
           </div>
         </div>
        </div>
          <% }); %>
       </div>
  </div>
</div>

<style>

 #homeHeader{
    color:rgb(0, 0, 0);
    text-align:center;
    
  }
  
  
  p{
    color:rgb(15, 9, 9);
  }
  
  
</style>



