<% include partials/header %>
<div id="showContainer" class="ui main text container segment">
  <div id="showHeader" class="ui huge header"><%= blog.title %> </div>
   <div class="ui top attached">
     <div class="item">
      <img class="ui centered rounded image" src="<%= blog.image %>">
     </div>
     <div class="content">
       <strong><span><%= blog.created.toDateString() %></span></strong>
     </div>
     <div class="description">
      <p><%- blog.body %></p>
     </div>
      <p>
       <em>created by:-</em> <strong><%= blog.author.username %></strong>
     </p> 
     <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
       <a class="ui inverted green button" href="/blogs/<%= blog._id %>/edit">Update</a>
       <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
         <button class="ui inverted red button">Delete</button>
       </form>
    <% }%>
      <a class="ui inverted green button" href="/blogs/<%= blog._id %>/comments">comments</a>
     <hr>
     
     </div>
  <div> 
    <% blog.comments.forEach(function(comment){ %>
      <strong><%= comment.author.username %></strong>
     <p>
       "<%= comment.text %>"
    </p>
     <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
    <form id="delete" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
         <button class="ui inverted red button">Delete</button>
       </form>
    
    <% }%>
    <hr>
     <% }); %>
  </div>
         
  </div>
</div>
   
    


<style>
  
  body{
    background:#022747;
  }
 #showHeader{
    color:red;
  }
  
  #showContainer{
    background:#1995B6;
  }

</style>
         
         
         
<% include partials/footer %>